@import url("https://fonts.googleapis.com");

* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
  /* overflow-x: hidden; */
}

:root {
  --navy-blue: #001f3f;
  --navy-blue-dark: #001529;
  --navy-blue-light: #036;
  --gold: gold;
  --gold-dark: #daa520;
  --gold-light: #fff8dc;
  --background: #fff;
  --foreground: #1a1a1a;
}

/* body{
  width: 100vw;
} */

header {
  background-color: var(--navy-blue);
  padding: 20px 0;

  display: flex;
  justify-content: space-around;
  align-items: center;
  position: sticky;
  top: 0;
  /* width: 100vw; */
  overflow: hidden;
}

.logoSide {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.logoSide > img {
  width: 40px;
}

.logoSide > span {
  color: var(--gold);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-weight: 700;
  font-size: 25px;
}

nav > ul {
  display: flex;
  column-gap: 5px;
}

nav > ul > li {
  padding: 8px 16px;
}

nav > ul > li > a {
  color: var(--background);
  font-size: 14px;
  font-weight: 600;
}

.active {
  border-bottom: var(--gold) solid 2.5px;
}

.active a {
  color: var(--gold);
}

.getQuote .menuBtn {
  display: none;
}

.getQuote button {
  background-color: var(--gold);
  color: var(--navy-blue);
  border: none;
  border-radius: 8px;
  padding: 8px 24px;
  font-size: 14px;
  font-weight: 700;
}

/* .hero {
  width: 100vw;
  margin-left: 0;
} */

.heroSlide {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 660px;
  /* width: 100vw; */
  /* height: 100vh; */

  border-top: var(--gold) solid 4px;
  border-bottom: var(--gold) solid 4px;
  row-gap: 20px;

  background-repeat: no-repeat;

  padding: 0;
}

#heroSlide1 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url(img/sharp.jpg);
    background-size: cover;
    background-position: top;
}

#heroSlide2 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url(img/Modern\ &\ Stylish\ Hybrid\ Office\ Workspace\ Design.webp);
    background-size: cover;
  background-position: center;
}

#heroSlide3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5)), url(img/interior1.webp);

    background-size: cover;
    background-position: center;
}


.heroSlide h1 {
  font-size: 72px;
  text-align: center;
  color: var(--background);
}

.heroSlide p {
  font-size: 30px;
  text-shadow: 1px 1px 3px var(--foreground);
  text-align: center;
  color: var(--background);
}

.heroSlide p>span {
  display: block;
}

.heroBtn1 {
  font-size: 14px;
  padding: 8px 16px;
  border-radius: 50px;
  border: var(--gold), solid, 1px;
  background-color: transparent;
  color: var(--gold);
  font-weight: 600;
}

.heroBtn2 {
  font-size: 16px;
  padding: 16px 32px;
  border-radius: 5px;
  border: var(--gold), solid, 1px;
  background-color: var(--gold);
  color: var(--navy-blue);
  font-weight: 600;
}

.slider {
  display: flex;
  column-gap: 42px;
  margin-top: 42px;
}

.slider i {
  color: var(--background);
  font-weight: 20px;
  text-shadow: #1a1a1a 1px 1px 3px;
    /* background-color: var(--gold-dark); */
}



.markersDiv {
  display: flex;
  column-gap: 15px;
}

.markers {
  width: 12px;
  height: 12px;
  /* background-color: var(--gold); */
  background-color: #1a1a1a7e;;
  border-radius: 50px;
}

.markersActive {
  background-color: var(--gold-dark);
  /* width: 70px; */
  /* color: var(--background); */
}

/* Mobile view for hero */

@media screen and (max-width: 720px) {
  header {
    background-color: var(--navy-blue);
    /* padding: 20px 0; */
  }

  nav {
    display: none;
  }

  .getQuote {
    display: flex;
    align-items: center;
    column-gap: 10px;
  }

  .menuBtn {
    color: var(--gold);
    border: var(--gold) 1px solid;
    border-radius: 8px;
    padding: 8px 24px;
    font-size: 14px;
    font-weight: 700;
  }

  .hero {
    padding: 0 24px;

    /* row-gap: 0; */
}

.hero h1{
  font-size: 48px;
}

.hero p>span {
  display: inline;
}
}

.hidden {
  display: none;
}

.show {
  display: flex;
}


/* The About Section */
.about-section {
  height: 100vh;
  width: calc(100vw/1.8);
  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
  row-gap: 60px;
  margin: 0 auto;
  padding: 20px;
  position: relative;
}

.about-heading {
  color: var(--navy-blue);
  font-size: 36px;
}

.line {
  background-color: var(--gold);
  width: 100px;
  height: 4px;
  position: absolute;
  top: 160px;
}

.about-para {
  color: var(--navy-blue-dark);
  font-size: 18px;
  text-align: center;
}

.features {
  display: flex;
  align-items: center;
  justify-content: space-around;
  column-gap: 15px;
}

.feature {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  justify-content: space-around;
  border: 2px black solid;
  width: 180px;
  padding: 32px;
  row-gap: 15px;
  border-radius: 10px;
}

.feature div {
  /* color: var(--gold); */
  /* border-color: var(--navy-blue); */
  background-color: var(--gold);
  border-radius: 50px 50px;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.feature i {
  color: var(--gold);
  /* border-color: var(--navy-blue); */
  /* background-color: var(--navy-blue); */
  border-radius: 50px 50px;
  font-size: xx-large;
}

.feature :nth-child(2) {
  font-size: 20px;
  color: var(--navy-blue);
  font-weight: bolder;
}

.feature :last-child {
  font-size: 17px;
  font-weight: normal;
  color: var(--navy-blue-dark);
}